main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
body {
    background-color: rgb(197, 199, 199);
    width: 200mm;
}
.backgroudTask {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}
.white-field {
    margin: 5%;
    height: 250px;
    flex-basis: 33.33%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wide-white {
    flex-basis:80%;
    flex-direction: column;
}
.white-100 {
    flex-basis:100%;
    background-color: white;
}
.spaceBetween {
    justify-content: space-between;
}
.square {
    flex-basis: 50%;
    height: 50%;
    background-color:#8aa4ff ;
    animation-name: rotating;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
h2 {
    font-size: 40px;
}


.purple-field {
    margin: 1%;
    flex-basis: 100%;
    height: 200px;
    background-color: #9ca3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    flex-basis: 50%;
    height: 32%;
    border-width: 0em;
    background-color: #908aec;
    border-radius: 5px;
}
.uglybutton {
    width: 25%;
    flex-basis: 20%;
    background-color:black;
    border-width: 0em;
    border-radius: 25px;
}
.bigWhiteLetter {
    font-size: 20px;
    font-stretch: expanded;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    letter-spacing:4pt;
}
.normalWhiteLetter {
    font-size: 12px;
    font-stretch: expanded;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.wideLetter {
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button:hover {
    box-shadow: 0px 15px 5px -7px #8479ca;
    transform: translateY(5px);
    transition: 500ms;
    cursor: pointer;
}
.uglybutton:hover {
    background-color: #7ee6a1;
    cursor: pointer;
}
.alphaButton {
    background-color: #21d3fc;
    color: #b621ff;
    transition: 700ms;
}
.betaButton {
    background-color: #08aee9;
    color: #29f498;
    transition: 700ms;
}
.gammaButton {
    background-color: #fde040;
    color: #fa7199;
    transition: 700ms;
}
.deltaButton {
    background-color: #3eecac;
    color: #ed74e0;
    transition: 700ms;
}


.alphaButton:hover {
    color: #21d3fc;
    background-color: #b621ff;
    cursor: pointer;
}
.betaButton:hover {
    color: #08aee9;
    background-color: #29f498;
    cursor: pointer;
}
.gammaButton:hover {
    color: #fde040;
    background-color: #fa7199;
    cursor: pointer;
}
.deltaButton:hover {
    color: #3eecac;
    background-color: #ed74e0;
    cursor: pointer;
}
.clock_box {
    flex-basis: 45%;
    background-color: #dedef5; 
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.clock {
    margin: 5%;
    height: 90%;
    flex-basis: 100%;
    background-image:url(../images/clock.png);
 
    background-size: cover; 
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 5px;
}
.arrow {
    width: 90%;
    height: 0.1em;
    background-color: transparent;
    animation-name: rotatingArrow;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: flex-end;
    
}
.noTransparentPartArrow {
    width: 50%;
    background-color: #7b207a;
    height: 100%;

}
.sackcloth{
    background-image: url("../images/BackgroundNew.jpg");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-size: 50%;  
    height: 20rem;
    
}
.transparentButton {
    font-size: 20px;
    font-stretch: expanded;
    font-weight:600;
    color:white;
    width: 20%;
    flex-basis: 20%;
    background-color:#7c107bcc ; 
    border-width: 2px;
    border-radius: 10px;
    border-color: #7c107b;
    border-style: solid;
    text-transform:uppercase;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 2rem;
}
.transparentButton:hover {
    background-color: #fcfcf5aa;
    color: #7c107b;
}
.policy {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6c6c5500;
    transition: 2s;
    transition-delay: 1s;
 }
 .link {
     color: #0000ff00;
 }
.transparentButton:hover ~ .policy {
    color: #6c6c55ff;
   

}

.transparentButton:hover ~ p>a {
    color: #0000ffff;
}

.rectangle {
    width: 8%;
    height: 15%;
    background-color: #7c107b;
    transition: 1s;
    cursor: pointer;
}
.rectangle:hover {
    height: 100%;
    transition: 400ms;
}
.active_field {
    width: 54%;
    flex-basis: 65%;
    margin-top: 5%;
    margin-bottom: 10%;
    /* background-color: #29f498; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@keyframes rotating {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(-45deg)}
    100% {transform: rotate(-90deg);}
}

@keyframes rotatingArrow {
    0% {transform: rotate(-90deg)}
    50% {transform: rotate(90deg)}
    100% {transform: rotate(270deg);}
}
